<footer>
    <div class="social-links">
        <a href="https://www.facebook.com/share/18GvHL3Mbi/" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/pitcho_lana/" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/ashraf-abiba-836820207/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://t.me/clay_mr" target="_blank" aria-label="Telegram">
            <i class="fab fa-telegram"></i>
        </a>
        <a href="https://discord.com/invite/OxyGof" target="_blank" aria-label="Discord">
            <i class="fab fa-discord"></i>
        </a>
        <a href="https://x.com/TEKILA_Twittes" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </div>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. Tekila.</p>
</footer>