---
layout: default
---

<article class="writeup-content">
    <h1>{{ page.title }}</h1>
    <div class="post-meta">
        <span class="date">{{ page.date | date: "%B %d, %Y" }}</span>
        <span class="event">{{ page.event }}</span>
        <span class="difficulty">{{ page.difficulty }}</span>
    </div>
    <div class="tags">
        {% for tag in page.tags %}
        <a href="/tags/{{ tag }}" class="tag">#{{ tag }}</a>
        {% endfor %}
    </div>
    <hr>
    {{ content }}
</article>